
html, body { height: 100%; }

.title{
    text-align: center;
    padding: 100px; 
}

.title:hover{
   transform: scale(1.10);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info{
    text-align: center;
    margin-right: 100px;
    margin-top: 40px;;
}


header{
    background-color: rgb(56, 108, 197);
    color: rgb(22, 13, 13);
    height: 70px;
    margin-bottom: 20px;
}

.name h1{
    margin: 20px;
    
}

.infoForm{
    color: black;
    display: flex;
    margin-left: 50px;
}


img{
    width: 125px;
    height: 125px;
    align-items: center;
    display: inline;
}

.Search{
    background-color: lightblue;
    display: flex;
}

.p-1{
    padding: .25rem;
    margin-left: 25px;
    display: flex;
}

.forecast-display{
float: left;
background-color: lightgray;
top: 75px;
font-size: 48px;
font-family:Verdana, Geneva, Tahoma, sans-serif;

border: 70px;
height: 400px;
width: 150px;
position: absolute;
text-indent: 70px;
left: 75px;
}

.forecast-text{
    font-size: 48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:lightgray;
    border: 70px;
    height: 400px;
    width: 475px;
    left: 200px;
    top: 75px;
    position: absolute;
    text-align: right;
   
    
}

.forecast-box{
    background-color:rgb(56, 108, 197);
    margin: 50px 50px;
    position: relative;
    height: 90%;
    width: 1800px;
}

.forecast-fiveday1{
    background-color: white;
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 50px;
    left: 75px;
    text-align: center;
    font-size: 24px;
}

.forecast-fiveday2{
    background-color: white;
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 50px;
    left: 425px;
    text-align: center;
    font-size: 24px;
}
.forecast-fiveday3{
    background-color: white;
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 50px;
    left: 775px;
    text-align: center;
    font-size: 24px;
}
.forecast-fiveday4{
    background-color: white;
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 50px;
    right: 425px;
    text-align: center;
    font-size: 24px;
}
.forecast-fiveday5{
    background-color: white;
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 50px;
    right: 75px;
    text-align: center;
    font-size: 24px;
}
.fd1{
    background-color: lightblue;
    position: absolute;
    height: 325px;;
    width: 300px;
    bottom: 25px;
    left: 50px;
    text-align: center;
    font-size: 24px;
}

.fd2{
    background-color: lightblue;
    position: absolute;
     height: 325px;;
    width: 300px;
    bottom: 25px;
    left: 400px;
    text-align: center;
    font-size: 24px;
}

.fd3{
    background-color: lightblue;
    position: absolute;
     height: 325px;;
    width: 300px;
    bottom: 25px;
    left: 750px;
    text-align: center;
    font-size: 24px;
}

.fd4{
    background-color: lightblue;
    position: absolute;
     height: 325px;;
    width: 300px;
    bottom: 25px;
    right: 400px;
    text-align: center;
    font-size: 24px;
}

.fd5{
    background-color: lightblue;
    position: absolute;
     height: 325px;;
    width: 300px;
    bottom: 25px;
    right: 50px;
    text-align: center;
    font-size: 24px;
}

.current-day{
    background-color: lightblue;
    position: absolute;
    height: 475px;;
    width: 650px;
    top: 25px;
    left: 50px;
    text-align: center;
    font-size: 24px;
}

v